@{
    ViewData["Title"] = "Why Muse";
}

<!-- page header -->
<div class="jumbotron">
    <img src="images/header2.jpg" alt="Be his muse" title="Be His Muse" class="img-responsive">
</div>

<!-- content -->
<div class="container">

    <!-- mission -->
	<div class="row">
		<div class="col-md-6">
            <h2>We're on a mission.</h2>
		    <p>The right underwear can change your life.</p>
		    <p>Most guys have a go-to pair of underwear - that one you look for on the 
		        first (or third) date.  You need to look your best, and carry the 
		        confidence for anything.  Our mission is to develop great products that
		        feel amazing and are designed around what others want to see you in.
		    </p>

			<hr>

			<h3>Art + Science</h3>
			<p>Our process is simple, we constantly ask women what they like men
				to wear, we then take their feedback and create thr products. We
				use high-tech performance fabrics that are luxuriously soft, amazingly
				breathable, look right and are designed to be seen in.
			</p>
		</div>
		<div class="col-md-6">
            <img src="images/mission.png" alt="We're on a mission" title="We're on a mission" class="img-responsive">
		</div>
    </div>

	<!-- banner -->
	<img src="images/banner2.jpg" alt="What women want" title="What women want" class="img-responsive" style="width: 100%;">

	<!-- stats -->
	<div class="row stats">
        <div class="col-md-3">
			<h4>What They've Told Us</h4>
            <strong>57%</strong> Like boxer-brief style on men - this is why our first products are boxer-briefs!<br>
			<strong>21%</strong> Like boxers on men<br>
			<strong>12%</strong> Like trunk style<br>
			<strong>9%</strong> Like briefs<br>
			<strong>1%</strong> Like nothing at all!
		</div>
		<div class="col-md-3">
            <h3>79%</h3>
			<p>Said it's a deal breaker if your underwear is stained, tattered,
				and has holes in it.  "You expect us to always wear nice underwear, 
				return the favor."
			</p>
        </div>
		<div class="col-md-3">
            <h3>87%</h3>
			<p>Feel men's boxers-briefs that have too much of a pocket or sack 
				are unappealing. "We know you have a pencil in your pocket, we
				just don't want it sticking out at us so much."
			</p>
        </div>
		<div class="col-md-3">
            <h3>91%</h3>
			<p>Like men's underwear that has some design interest to it. Stay away
				from anything that 10-year olds would have worn, i.e. donuts, animal
				shapes, or super hero characters. "We want to date a man, not a little
				boy."
			</p>
        </div>
	</div>

    <!-- styles -->
    <div class="row">
        <div class="col-md-6">
            <img src="images/sport-style.jpg" alt="Sport Style" title="Sport Style" class="img-responsive">
		</div>
		<div class="col-md-6">
            <h2>Sport Style</h2>
			<p>Enjoy a featherlike feel with our sport style pairs. MicroModal 
				&reg; is an ideal fabric for intimate apparel due to its superior 
				softness that breathes extremely well.
			</p>
			<p>MicroModal &reg; is cool to the touch, absorbent and similar in
				texture to silk or cotton. Unlike cotton, however, it is resistant
				to shrinkage and less likely to fade or pill.
			</p>
			<strong>66% Bamboo | 28% Cotton | 6% Spandex</strong>
        </div>
	</div>

	<hr>
	
	<div class="row">
        <div class="col-md-6 col-md-push-6">
            <img src="images/fly-style.jpg" alt="Fly Style" title="Fly Style" class="img-responsive">
        </div>
        <div class="col-md-6 col-md-pull-6">
            <h2>Fly Style</h2>
            <p>Bamboo fabric is incredibly soft, strong and durable. Spun fibers
                of bamboo feel like silk and the natrually porous fiber is more
                absorbent than other textiles so moisture is instantly wicked away 
                from the body.
            </p>
            <p>Bamboo products stay fresher longer and adapt to your body's 
                temperature making them cool in the summer and warm in the winter.
                Bamboo fabric also has natural anti-bacterial properties and greatly
                discourages formation of bacteria.
            </p>
            <strong>66% Bamboo | 28% Cotton | 6% Spandex</strong>
        </div>
    </div>   

    <!-- muse -->
    <div class="row">
        <div class="col-md-6">
            <img src="images/muse.jpg" alt="Our Biggest Muse" title="Our Biggest Muse" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h2>Our Biggest Muse</h2>
            <p>Our company name, Mr. & Muse, is a nod to the men who inspired our 
                products and to the dynamic women (the muses) who play a vital 
                role in their lives. Women are the secret to our success, too. 
                They guide everything we do, from helping us design our products 
                to selecting the charitable causes we support.
            </p>
        </div>
    </div>

	<!-- guarantee -->
	<div class="row guarantee">
        <div class="col-md-2 col-md-offset-3" style="padding: 15px;">
            <img src="images/basic-logo.png" alt="Love It. Guaranteed." title="Love It. Guaranteed." style="height: 150px;">
		</div>
		<div class="col-md-3" style="padding: 15px;">
            <h3>Love It. Guaranteed.</h3>
		    <p>Give us a try and if you don't love our products, we'll refund your
		        money, no questions asked. Guaranteed.
		    </p>
		</div>
	</div>  

</div>