body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 12pt;
    color: #515151;
    text-align: justify;
}

.body-content {
    margin-top: 15px;
}

h2 {
    color: #0f71de;
    text-transform: uppercase;
}
h3 {
}

footer {
    padding: 15px;
}

.guarantee {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #adb0b1;
    color: #fff;
    max-height: 200px;
}
.guarantee h3 {
    color: #494949;
}

.navbar {
    background-color: #fff;
}

.product {
}

.product-description {
    margin: 25px;
    margin-top: 30px;
}

.product-image {
    padding: 25px;
}

.product-price {
    font-size: 1.5em;
}

.product-story {
    font-style: italic;
    color: #989898;
    font-size: 1.2em;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.product-qualities {
    text-align: center;
    width: 33%;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}

.stats {
    margin-left: initial;
    margin-right: initial;
    margin-bottom: 30px;
}
.stats div:first-child {
    color: initial;
    background-color: #ebebeb;
    padding-top: 25px;
}
.stats div:first-child h4 {
    font-size: 1.35em;
}
.stats h3 {
    font-size: 2.5em;
}
.stats > .col-md-3 {
    background-color: #1271de;
    color: #fff;
    height: 250px;
}

@media (min-width: 1200px) {
    .jumbotron {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }
}